__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
include/
lib/
bin/
pip-selfcheck.json
.git
.gitignore
.github
.vscode
.idea
.pytest_cache
.coverage
htmlcov
.env
tests/
notebooks/
*.md
pr_body.md
