# Gemini API Key
GEMINI_API_KEY=your_gemini_api_key_here

# LangSmith Configuration
LANGCHAIN_TRACING_V2=true
LANGCHAIN_ENDPOINT="https://api.smith.langchain.com"
LANGCHAIN_API_KEY=your_langsmith_api_key_here
LANGCHAIN_PROJECT="ai-spiritual-knowledge-rag"

# Arize Phoenix / OpenTelemetry (Optional)
# PHOENIX_CLIENT_HEADERS=
PHOENIX_COLLECTOR_HTTP_ENDPOINT=http://localhost:6006
